
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fffaf6;
  color: #2f2f2f;
  line-height: 1.6;
}

.tag {
  font-size: 0.8rem;
  background-color: #eee;
  border-radius: 5px;
  padding: 2px 6px;
  margin-right: 4px;
}

footer {
  font-size: 0.9rem;
}

 h3 {
  font-family: 'Georgia', serif;
  color: #5c3c0d;
}

.btn-primary {
  background-color: #FFC857  ;
  border-color: #FFC857 ;
  color: #2f2f2f;
  font-weight: 600;
}

.btn-primary:hover, {
  background-color: #88d3d7;
  border-color: #88d3d7;
  color: #2f2f2f;
}

.bg-wes {
  background-color: #FFC857
}

.border-wes {
  border-color: #88d3d7 
}


h1, h2 {
  color: #d3427c;
}

.section-title {
  border-bottom: 2px solid #ffc857;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.highlight {
  background-color: #f4a8b9;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.color-block {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.note {
  font-size: 0.95rem;
  color: #555;
  font-style: italic;
}
